/* 灰度模式 */
/* html {
  filter: grayscale(95%);
  -webkit-filter: grayscale(95%);
  -moz-filter: grayscale(95%);
  -ms-filter: grayscale(95%);
  -o-filter: grayscale(95%);
  filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=.95);
} */

html body {
  font-size: 16px;
  background-color: unset;
}

.dark body {
  color: var(--vp-c-text-1);
}

pre,
code,
kbd,
samp {
  font-family: var(--vp-font-family-mono);
}

.vp-doc h2 {
  margin: 15px 0 16px;
  padding-top: 10px;
  border-top: none;
}

.VPDoc .content-container img {
  border-radius: 5px;
}

/* slim scroll bar for windows based web browsers - works on firefox */
* {
  scrollbar-color: var(--vp-c-divider-light) var(--vp-button-alt-bg);
  scrollbar-width: thin;
}

.VPHomeFeatures .box {
  box-shadow:
    2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
    6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
    12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
    22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
    41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
    100px 100px 80px rgba(0, 0, 0, 0.07);
}

/* slim scroll bar for windows based web browsers - works on chrome, edge, and safari */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* scrolling handle */
::-webkit-scrollbar-thumb {
  background: var(--vp-c-divider-light);
}

/* handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--vp-button-alt-hover-bg);
}

/* scrolling track/backgronund color */
::-webkit-scrollbar-track {
  background: var(--vp-button-alt-bg);
}

.custom-simple-img .ant-image-mask.simple-img {
  opacity: 0;
}

img.ant-image-preview-img {
  display: inline-block;
}

.ant-popover-inner-content {
  max-width: 15rem;
}

pre[class*="language-"],
code[class*="language-"] {
  font-size: 16px !important;
  line-height: 1.6;
}


.ai-generate-flag .VPSidebarItem.is-active {
  /* 容器定位，让伪元素可以绝对定位 */
  position: relative;
  /* 容器的内边距，给徽标留出空间 */
  padding-right: 40px;
  /* 为了演示效果，这里添加一些基础样式 */
  font-size: 1.2rem;
  line-height: 1.5;
}

/* 伪元素徽标样式 */
.ai-generate-flag .VPSidebarItem.is-active::before {
  /* 徽标文字内容 */
  content: "AI文";

  /* 绝对定位，将其放在容器的右上角 */
  position: absolute;
  top: -10px;
  right: 0px;

  /* 醒目的颜色和高对比度 */
  background-color: #b8272c;
  /* 醒目的洋红色背景 */
  color: #fff;
  /* 白色文字 */

  /* 徽标基础样式 */
  font-size: 0.8rem;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 50px;
  /* 圆角边框 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  /* 增加阴影，使徽标更具立体感 */

  /* 动画设置 */
  animation: pulse 1.5s infinite;
  /* 应用名为 'pulse' 的动画，持续1.5秒，无限循环 */
}

/* 关键帧动画 */
@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }

  50% {
    transform: scale(1.1);
    /* 放大到 1.1 倍 */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
  }

  100% {
    transform: scale(1);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
}

@keyframes hue-change {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(360deg);
  }
}

.VPHomeHero {
   animation: hue-change 10s linear infinite;
   transform: translateZ(0);
}

.VPHomeFeatures .items .item:hover {
  transition: transform 0.3s ease;
  transform: scale(1.1);
}
